{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <meta name="description" content="Rohit Dhankar - DigitalCognition-pyFinTrader">
    <meta name="author" content="Rohit Dhankar - DigitalCognition-pyFinTrader- https://www.linkedin.com/in/rohitdhankar/">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}pyFinTrader{% endblock %}</title>

    {% include '/css.html' %}

      <style>

      {% block style %}{% endblock %}

      </style>

  </head>



















